body {
    background-color: rgb(210, 238, 248);
    margin: 20;
}
.centrado {
    text-align: center;
}
.listado {
    background-color: rgb(226, 255, 249);
    padding: 35px;
    height: 650px;
    width: 1800px;
}
li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.l2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.centrado2 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
.listado2 {
    background-color: rgb(235, 223, 218);
    padding: 35px;
    height: 250px;
    width: 510px;
}
.listado3{
    background-color: rgb(228, 211, 238);
    padding: 35px;
    height: 250px;
    width: 910px;
}